html
    head
        meta(charset="utf-8")
        title=`${page.title ? `${page.title} | ` : ''}${config.title}`
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        link(href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css")
        !=css('css/index')
    body
        header
            div.title The Great Awakening
            nav
                div.h3
                    a(href=url_for('/')) Home
                div.h3
                    a(href=url_for('plimorn-diary')) Plimorn's diary
                div.h3
                    a(href=url_for('tookania')) Tookania
                div.h3
                    a(href=url_for('prices')) Prices
                div.h3
                    a(href=url_for('session-notes')) Session Notes
                div.h3
                    a(href=url_for('items')) Custom Content
                div.h3
                    a(href=url_for('help')) Help

        div.phb
            block body
            !=js('js/index.js')

